# 이 파일을 .env로 복사한 뒤 값을 채운다.
# 카카오 개발자 콘솔(https://developers.kakao.com) > 내 애플리케이션 > 앱 키 > JavaScript 키
# 같은 콘솔에서 두 가지를 켜야 지도가 뜬다:
#   1) [제품 설정 > 카카오맵] 활성화 ON
#   2) [내 애플리케이션 > 플랫폼 > Web]에 아래 도메인 등록
#      http://localhost:8081   (expo start --web)
#      https://localhost       (안드로이드·iOS WebView)
EXPO_PUBLIC_KAKAO_JS_KEY=
